html * {
  font-family: Helvetica;
  font-size: 15px;
}

.App {
  text-align: center;
}

.body {
  padding: 10px 58px;
}

h1 {
  padding: 10px 0 10px 0;
  font-size: 18px;
  text-align: center;
}

.center-text {
  text-align: center;
}

/* ----------------------- NAV BAR */
.nav-menu {
  background-color: #e5fef4;
  padding-left: 58px;
  padding-right: 58px;
  text-align: left;
}

.nav-menu a {
  display: inline-block;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  width: 100px;
  text-align: center;
  border-bottom: 2px solid #e5fef4;
}

.nav-menu #button {
  width: 120px;
  border-bottom: none;
  background-color: #68d2a6;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 2px;
  margin-bottom: 2px;
  float: right;
}
.nav-menu #button:hover{
  background-color: #5cbc94;
  color: #000;
}

a[aria-current="page"] {
  border-bottom: 2px solid #68d2a6;
  color: #68d2a6;
}
a[aria-current="page"]#button {
  color: #000;
}

.nav-menu a:hover {
  border-bottom: 2px solid #68d2a6;
  border-radius: 2px;
  color: #68d2a6;
}

.web-title {
  font-size: 22px;
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -11px;
  left: 0;
  right: 0;
  text-align: center;
}

.add-project {
  margin-left: 10px;
}

/* ------------------------------- */
.new-project-button {
  background-color: #68d2a6;
  border: none;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 2px;
  margin: 30px auto 10px auto;
  width: 40%;
}

.new-project-button:hover {
  background-color: #5cbc94;
  border: none;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 2px;
  margin: 30px auto 10px auto;
}

.button-container {
  text-align: right;
}

form {
  /* border: solid 2px #282c34; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px 30px;
  width: 60%;
  width: 400px;
  margin: 0 auto;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 1px;
  padding: 5px;
  width: calc(100% - 12px);
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

label {
  line-height: 29.5px;
}

input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 1px;
  background-color: #e5fef4;
}

input:hover {
  background-color: #e5fef4;
}

.col-25 {
  /* float: left; */
  /* width: 25%; */
  margin-top: 6px;
  vertical-align: center;
  margin-top: 15px;
}

.col-75 {
  /* float: left; */
  /* width: 75%; */
  margin-top: 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=text] {
    width: 98.5%;
  }
  .nav-menu a {
    font-size: 14px;
    width: 90px;
    padding-top: 15px;
  }
  .web-title {
    font-size: 14px;
    width: 190px;
    margin: 0;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
  }
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.new-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

.new-radio::after {
  content: "";
  position: absolute;
  display: none;
}

.radio-label {
  display: inline;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 25px; 
}

.radio-label:hover input ~ .new-radio {
  background-color: #ccc;
}

.radio-label input:checked ~ .new-radio {
  background-color: #68d2a6;
}

.radio-label input:checked ~ .new-radio:after {
  display: block;
}

.radio-label .new-radio:after {
  top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* ------------------ PROJECT TILE */
.tiles-container {
  text-align: center;
  padding-top: 30px;
}

.tile-container {
  display: inline-block;
  justify-content: center;
}

.tile {
  display: inline-block;
  width: 260px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #e5fef45f;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
  z-index: -1;
}

.tile h2 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.tile-block {
  position: relative;
}

.tile-detailed-view h2 {
  font-size: 18px;
  color: #68d2a6;
  font-weight: 600;
}

.grid-container {
  /* grid-template-columns: 1fr 380px; */
  grid-template-rows: [row1-start] 60px [row2-start] 280px;
  position: relative;
  width: 400px;
  display: inline-grid;  
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 35px;
  margin: 10px;
  border-radius: 2px;
  z-index: -1;
}

.grid-container h2 {
  margin: 0;
}

.item1 /* Project Name */ { 
  grid-row-end: 2; 
  text-align: left;
  color: #5cbc94;
  /* justify-self: start; */
}
.item2 /* Edit Icon */ {
  grid-row-start: 1;
  grid-column-end: 3; 
  justify-self: end;
  font-weight: 600;
}

.item3 /* Tasks */ { 
  align-self: start;
  text-align: left;
}

.item3 label {
  /* display: inline-block; */
  /* width: 250px; */
  /* text-align: left; */
  vertical-align: middle;
  justify-self: left;
}

.item3 input {
  /* display: inline; */
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  word-wrap: none;
}

#edit-icon {
  font-size: 20px;
}

.priority-high {
  color: red;
  position: absolute;
  bottom: -3px;
  right: -3px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}
.priority-med {
  color: rgb(239, 195, 0);
  position: absolute;
  bottom: -3px;
  right: -3px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}
.priority-low {
  color: #000;
  position: absolute;
  bottom: -3px;
  right: -3px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}
.priority-high-task-view {
  color: red;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}
.priority-med-task-view {
  color: rgb(239, 195, 0);
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}
.priority-low-task-view {
  color: #000;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}

/* ------------------------------- */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
